<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v14.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CDLEntities" connectionString="metadata=res://*/EF.CDL.csdl|res://*/EF.CDL.ssdl|res://*/EF.CDL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=CDL;persist security info=True;user id=sa_gespe;password=gespe;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UNITEXEntities" connectionString="metadata=res://*/EF.UNITEX.csdl|res://*/EF.UNITEX.ssdl|res://*/EF.UNITEX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.254;initial catalog=UNITEX;persist security info=True;user id=sa;password=gespe;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UNITEXEntities1" connectionString="metadata=res://*/EF.Unitex.csdl|res://*/EF.Unitex.ssdl|res://*/EF.Unitex.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.254;initial catalog=UNITEX;persist security info=True;user id=sa;password=gespe;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XCM_CRMEntities" connectionString="metadata=res://*/EF.XCM_CRM.csdl|res://*/EF.XCM_CRM.ssdl|res://*/EF.XCM_CRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.254;initial catalog=XCM_CRM;user id=sa;password=gespe;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>