<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="InterscambioAPIEntities" connectionString="metadata=res://*/EntityModels.InterscambioAPI.csdl|res://*/EntityModels.InterscambioAPI.ssdl|res://*/EntityModels.InterscambioAPI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.254;initial catalog=InterscambioAPI;persist security info=True;user id=sa;password=gespe;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GnXcmEntities" connectionString="metadata=res://*/EntityModels.GespeWMS.csdl|res://*/EntityModels.GespeWMS.ssdl|res://*/EntityModels.GespeWMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.254;initial catalog=GnXcm;user id=sa;password=gespe;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GnCommonXcmEntities" connectionString="metadata=res://*/EntityModels.GnCommon.csdl|res://*/EntityModels.GnCommon.ssdl|res://*/EntityModels.GnCommon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.254;initial catalog=GnCommonXcm;persist security info=True;user id=sa;password=gespe;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XCM_CRMEntities" connectionString="metadata=res://*/EntityModels.ModelXCM_CRM.csdl|res://*/EntityModels.ModelXCM_CRM.ssdl|res://*/EntityModels.ModelXCM_CRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.254;initial catalog=XCM_CRM;persist security info=True;user id=sa;password=gespe;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="damorXCMEntities" connectionString="metadata=res://*/ModelDamor.csdl|res://*/ModelDamor.ssdl|res://*/ModelDamor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.micropedia.it;initial catalog=damorXCM;persist security info=True;user id=damorxcmuser;password=damorxcmuser2023!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>