<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="EntityFramework.it" version="6.2.0" targetFramework="net48" />
  <package id="FluentFTP" version="35.0.5" targetFramework="net48" />
  <package id="Google.Apis" version="1.60.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.60.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.60.0" targetFramework="net48" />
  <package id="Google.Apis.Drive.v3" version="1.60.0.2986" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="NLog" version="4.7.11" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.11" targetFramework="net48" />
  <package id="NLog.Schema" version="4.7.11" targetFramework="net48" />
  <package id="RestSharp" version="106.13.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="Topshelf" version="4.3.0" targetFramework="net48" />
</packages>