<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XCM_Remote_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XCM_Remote_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <XCM_Remote_Client.Properties.Settings>
            <setting name="UserAPICry" serializeAs="String">
                <value />
            </setting>
            <setting name="PswAPICry" serializeAs="String">
                <value />
            </setting>
            <setting name="CodClienteCry" serializeAs="String">
                <value />
            </setting>
            <setting name="UIDPC" serializeAs="String">
                <value />
            </setting>
            <setting name="DEXP" serializeAs="String">
                <value />
            </setting>
            <setting name="callUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LPA" serializeAs="String">
                <value>False</value>
            </setting>
        </XCM_Remote_Client.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <XCM_Remote_Client.Properties.Settings>
            <setting name="FPW" serializeAs="String">
                <value>7UdejCFJygb0yFdalBuCeUEhImvBYZYVi4bMHdM8prM=</value>
            </setting>
            <setting name="FUR" serializeAs="String">
                <value>9z3bHTE25hv3QhXXQnaf7Pb9JesB9gCbBg6hveS9a2U=</value>
            </setting>
            <setting name="FDS" serializeAs="String">
                <value>Fy3X5jSaQ1uuOfYcF3138oxACBlQVIW9mWHCjAF9Ogw=</value>
            </setting>
        </XCM_Remote_Client.Properties.Settings>
    </applicationSettings>
</configuration>